@import url('./reset.css');

:root {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: 0 auto;
  display: none;
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#000 0 0);
  --r1: radial-gradient(farthest-side at bottom, #000 93%, #0000);
  --r2: radial-gradient(farthest-side at top, #000 93%, #0000);
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l1 1s infinite alternate;
  margin-bottom: 32px;
}
@keyframes l1 {
  0%,
  10% {
    background-size: 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  90%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 -2px, 0 calc(100% + 2px), 50% 50%, 50% -2px,
      50% calc(100% + 2px), 100% 50%, 100% -2px, 100% calc(100% + 2px);
  }
}
form {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  box-sizing: border-box;
  font-weight: 400;
  padding-left: 16px;
}
.search-btn,
.load-more {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-style: none;
}

button:hover,
button:focus {
  background: #6c8cff;
}
.search-btn {
  width: 91px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more {
  width: 125px;
  margin-top: 20px;
}
.load-hidden {
  display: none;
}
.gallery {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  border: 1px solid #808080;
  max-width: 360px;
  max-height: 200px;
  object-fit: cover;
}

.card-descr {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  display: flex;
  gap: 28px;
}
.card-element {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}
.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
